@use '_utilities';

.not-found-message {
  margin-top: 10px;
  text-align: center;
  color: red;
}

.stats-container {
  text-align: center;
}

.time-control-dropdown {
  margin-top: 35px;
  margin-bottom: 15px;
}

.time-control-select {
  @include utilities.dropdown
}