.user-error {
  margin-top: 10px;
  text-align: center;
  color: red;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid lightblue;
  border-bottom: 16px solid lightblue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.intro-section {
  padding: 1% 1% 1% 1%;
}