.not-found-message {
  margin-top: 10px;
  text-align: center;
  color: red;
}

.stats-container {
  text-align: center;
}

.time-control-dropdown {
  margin-top: 35px;
  margin-bottom: 15px;
}

.time-control-select {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: white;
  border-radius: 8px;
  background-color: #52ab98;
}
