.overall-stats-container {
  margin-top: 40px;
}

.overall-stats-container {
  text-align: center;
}

.overall-stats-title {
  font-size: large;
}

.overall-stats-columns {
  margin-top: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
